name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    name: Build and Run Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    # Backend
    - name: Install Backend Dependencies
      run: |
        cd backend
        npm install
    
    #Frontend
    - name: Install Frontend Dependencies
      run : |
        cd frontend
        npm install --legacy-peer-deps

    #Backend Tests
    - name: Run Backend Tests
      run: |
        cd backend
        # Check if any test files exist
        if find tests -type f -name "*.test.js" | grep -q .; then
          npx jest
        else
          echo "No backend tests"
        fi

    - name: Run Frontend Tests
      run: |
        cd frontend
        if [ -d tests ] && [ "$(find tests -type f -name '*.test.*')" ]; then
          npm run test -- --run
        else
          echo "No frontend tests found in frontend/tests"
        fi